<li class="grid <%= chart_class_item %>">
  <div class="grid__item one-twelfth">
    <%= index + 1 %>.
  </div>
  <h1 class="grid__item chart-item-name five-twelfths">
    <%= link_to locality.name, locality_path(locality.name) %>
  </h1>
  <div class="grid__item one-twelfth">
    <%= locality.check_ins.count %> CI
  </div>
  <div class="grid__item chart-item-last-column five-twelfths">
    <% if locality.tags.any? %>
      <% chart_sorted_sample(4, locality.tags).each do |tag| %>
        <span class="margin-right-normal"><%= tag.name %></span>
      <% end %>
    <% else %>
      <span class="margin-right-normal">no one tag was hanged</span>
    <% end %>
  </div>
</li>