<li class="grid <%= chart_class_item %>">
  <div class="grid__item one-twelfth">
    <%= index + 1 %>.
  </div>
  <h1 class="grid__item chart-item-name four-twelfths">
    <%= tag.name %>
  </h1>
  <div class="grid__item one-twelfth">
    <% if current_user %>
      <% if tag.likes.find_by(user_id: current_user.id) %>
        <%= link_to "NLL", tag.likes.find_by(user_id: current_user.id), method: :delete %>
      <% elsif tag.dislikes.find_by(user_id: current_user.id) %>
        <%= link_to "NLD", tag.dislikes.find_by(user_id: current_user.id), method: :delete %>
      <% else %>
        <%= form_for @like do |f| %>
          <%= f.hidden_field :tag_id, value: tag.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "L", class: "submit-like-dislike-icon" %>
        <% end %> /
        <%= form_for @dislike do |f| %>
          <%= f.hidden_field :tag_id, value: tag.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "D", class: "submit-like-dislike-icon" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="grid__item chart-item-love-hate one-twelfth">    
    <%= tag.likes.count %> / <%= tag.dislikes.count %>
  </div>
  <div class="grid__item chart-item-places five-twelfths">
    e.g. lichtenstein / saint petersburg / Cottonshopeburnfoot
  </div>
</li>