<div class="grid--center margin-double">
  <div class="grid__item three-quarters">
    <div class="margin-normal">
      <div class="grid">
        <div class="grid__item one-third grid--center">
          <div class="stat-label">total number of tags</div>
          <div class="stat-number"><%= @total_tags %></div>
        </div>        
        <div class="grid__item one-third grid--center">
          <div class="stat-label">total likes</div>
          <div class="stat-number"><%= @total_likes %></div>
        </div>        
        <div class="grid__item one-third grid--center">
          <div class="stat-label">total dislikes</div>
          <div class="stat-number"><%= @total_dislikes %></div>
        </div>
      </div>
    </div>
    <ul>
    <% @tags.each_with_index do |tag, index| %>
      <% if index < 10 %>
        <%= render "item", { chart_class_item: "chart-top-item", index: index, tag: tag } %>
      <% else %>
        <%= render "item", { chart_class_item: "chart-item", index: index, tag: tag } %>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>